<p>Dear {{ name }},</p>
<p>Did you forget your password?</p>
<p>
    <a href="{{ url }}">Reset Password</a>
</p>

<p>If you don't want to change your password or didn't request this, please ignore and delete this message.</p>

<p>Thank you.</p>